/*
* @Author: Administrator
* @Date:   2018-03-21 10:31:27
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-13 20:13:27
*/
*{
	margin: 0;
	padding: 0;
    list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #f9f9f9;
}
header{
	width: 100%;
	height: 0.53rem;
	background: #212121;
	overflow:hidden;
}
.head_left{
	width: 1.20rem;
	height: 0.29rem;
	float: left;
	margin: 0.12rem  0 0 0.2rem;
}
/* 用icon */
/* .head_left i{
	float: left;
	font-size: 0.27rem;
	color: #fff;
}
.head_text{
	width: 0.83rem;
	height: 0.29rem;
	float: right;
	font-size: 0.15rem;
	color: #fff;
	line-height: 0.29rem;
} */
.head_left img{
	width: 1.2rem;
	height: 0.29rem;
    float: left;
}
.head_right{
	width: 0.26rem;
	height: 0.16rem;
	margin: 0.19rem 0.19rem 0 0;
	float: right;
}
.head_right span{
	display: block;
	width: 100%;
	height: 0.02rem;
	margin-bottom:0.05rem;
	background: #585858;
}
.head_right span:last-child{
	margin-bottom: 0;
}
.banner{
	width: 100%;
	height:5.63rem;
	background: pink;
}
/* .swiper-container {
    width: 100%;
    height: 5.63rem;
}   */
.swiper-wrapper img{
	width: 100%;
	height:5.63rem;
}
.img_list li{
	width: 100%;
	height: 2.5rem;
	border-bottom: 0.01rem solid #fff;
} 
.img_list li a{
	display: block;
	width: 100%;
	height: 2.5rem;	
	overflow:hidden;
}
.list1{
	background: url('../img/pic1.jpg') no-repeat center;
	background-size: cover;
}
.img_list li h1{
	width: 100%;
	height: 0.3rem;
	margin-top: 0.12rem;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.19rem;
	color: #666;
	font-weight: normal;
}
.img_list li h2{
	width: 100%;
	height: 0.24rem;
	text-align: center;
	line-height: 0.24rem;
	font-size: 0.17rem;
	color: #666;
	font-weight: normal;
}
.list2{
	background: url('../img/pic2.jpg') no-repeat center;
	background-size: cover;
}
.list3{
	background: url('../img/pic3.jpg') no-repeat center;
	background-size: cover;
}
.list4{
	background: url('../img/pic4.jpg') no-repeat center;
	background-size: cover;
}
.fuwu{
	width: 3.2rem;
	height: 1.52rem;
	margin: 0.2rem auto 0;
}
.fuwu li{
	width: 100%;
	height: 0.37rem;
	border-bottom: 0.01rem solid #cccccc;
}
.fuwu_left{
	color: #666666;
	font-size: 0.14rem;
	font-weight: bold;
	line-height: 0.37rem;
	float: left;
}
.fuwu_right{
	color: #666666;
	font-size: 0.12rem;
	font-weight: bold;
	line-height: 0.37rem;
	float: right;
	margin-right: 0.09rem;
}
.fuwu_time{
	width: 100%;
	height: 1.27rem;
	border-bottom: 0.01rem solid #e2e2e2;
	overflow: hidden;
}
.fuwu_time h1{
	font-size: 0.14rem;
	color: #333333;
	line-height: 0.25rem;
	text-align: center;
	margin-top: 0.2rem;
}
.fuwu_time h2{
	font-size: 0.12rem;
	color: #666666;
	line-height: 0.25rem;
	text-align: center;
}
.fuwu_time h3{
	font-size: 0.12rem;
	color: #666666;
	line-height: 0.2rem;
	text-align: center;
}
.bottom{
	width: 100%;
    height: 1.43rem;
}
.bottom h1{
	width: 3.40rem;
	height: 0.2rem;
	line-height: 0.2rem;
	color: #aaaaac;
	margin: 0.14rem 0 0 0.15rem;	
	font-size: 0.12rem;
}
.bottom h2{
	line-height: 0.18rem;
	color: #aaaaac;
	margin-left: 0.15rem;	
	font-size: 0.12rem;
}
.bottom h3{
	line-height: 0.22rem;
	color: #aaaaac;
	margin-left: 0.15rem;	
	font-size: 0.12rem;
}
.bottom i{
	font-size: 0.3rem;
	color: #aaaaaa;
	float: left;
	margin: 0.11rem 0 0 0.17rem;
}